<a href="https://colab.research.google.com/github/2203A51360/ASSIGNMENTS/blob/main/ML_Assignment1(2203A51360).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import pandas as pd
data = pd.read_csv("/content/file.csv")
description = data.describe()
print("Description of the data:\n", description)

In [ ]:
Question 1:
https://www.kaggle.com/datasets/camnugent/california-housing-prices
Download the dataset from the above link.
a) Read the data with pandas and describe the data
b) Find data type and shape of each column
c) Find the null values (if yes fill the null values with ‘0’ or mean of that column)
d) find features and target variables
e) Split the data into train and test.
f) Normalize the data with min-max scaling

In [ ]:
import pandas as pd
data = pd.read_csv("/content/file.csv")
data_types = data.dtypes
print("Data type of each column:\n", data_types)
shape = data.shape
print("\nShape of the data:", shape)

Data type of each column:
 longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Shape of the data: (3000, 9)

In [ ]:
import pandas as pd
data = pd.read_csv("/content/file.csv")
null_values = data.isnull().sum()
print("Null values in the data:\n", null_values)
data.fillna(data.mean(), inplace=True)

Null values in the data:
 longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

<ipython-input-6-daebaf054ec6>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace=True)

In [ ]:
import pandas as pd
features = data.iloc[:, :-1]
target = data.iloc[:, -1]
print("Features:")
print(features.head())
print("\nTarget:")
print(target.head())

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0
3    -122.25     37.85                  52         1274           235.0
4    -122.25     37.85                  52         1627           280.0

   population  households  median_income  median_house_value
0         322         126         8.3252              452600
1        2401        1138         8.3014              358500
2         496         177         7.2574              352100
3         558         219         5.6431              341300
4         565         259         3.8462              342200

Target:
0    NEAR BAY
1    NEAR BAY
2    NEAR BAY
3    NEAR BAY
4    NEAR BAY
Name: ocean_proximity, dtype: object

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
target_column = data.columns[-1]
features = data.drop(columns=[target_column])
target = data[target_column]
X_train, X_test, y_train, y_test = train_test_split(features, target,test_size=0.2, random_state=42)
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)

Shape of X_train: (16512, 9)
Shape of X_test: (4128, 9)
Shape of y_train: (16512,)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
target_column = data.columns[-1]
features = data.drop(columns=[target_column])
target = data[target_column]
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features)
features_normalized_df = pd.DataFrame(features_normalized, columns=features.columns)
print("Normalized Features:")
print(features_normalized_df.head())

Normalized Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  median_house_value
0    0.008941    0.020556       0.539668            0.902266
1    0.067210    0.186976       0.538027            0.708247
2    0.013818    0.028943       0.466028            0.695051
3    0.015555    0.035849       0.354699            0.672783
4    0.015752    0.042427       0.230776            0.674638